
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>用户登录-通行证-站酷</title>
<link rel="icon" href="/icon/icon.png" type="image/x-icon" />
<link href="/css/my.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<!-- 必须先引用jQuery.js再去引用其他js -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</head>

<body>

	<div class="container">
		<div class="row">
			<!-- 引用验证页眉 -->
			<div class="col-xs-12 ">
				<!-- 
		  				1.th:replace :不要自己的主标签引用
		  				2.第一个参数include为文件名
		  				3.第二个参数为th:fragment="header"名
	  				-->
				<div th:replace="tourist/include::authenticate-header('login')"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div th:replace="tourist/login-main::login-main"></div>
			</div>
		</div>
	</div>




	<div class="twelve">
		<font color="red" th:text="${message}"></font>
	</div>
</body>
</html>




















