<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div align="center" class="container-authenticate"
		th:fragment="register-main">
		<ul class="list-unstyled">
			<li>
				<h2 th:text="欢迎注册" class="line-hight-80"></h2>
			</li>
			<li>
				<div>
					<ul id="myTab" class="nav nav-tabs ">
						<li class="active"><a href="#usernameRegister"
							data-toggle="tab">用户名注册</a></li>
						<li><a href="#phoneRegister" data-toggle="tab">手机号注册</a></li>
						<li><a href="#emailRegister" data-toggle="tab">邮箱注册</a></li>
					</ul>
					<form action="/register" method="post"
						onsubmit="return check()" autocomplete="off">
						<div id="myTabContent" class="tab-content margin_top_30">
							<div class="tab-pane fade in active" id="usernameRegister">
								<div class="form-group has-feedback" id="usernameBox">
									<input type="text" class="form-control  input-lg"
										name="username" placeholder="用户名称"
										onblur="isUserNameValid()"> <span
										class="glyphicon form-control-feedback" aria-hidden="true"
										id="usernameIocn"></span> <span id="usernameHint"
										hidden="hidden" class="input_hint my_transition"></span>
								</div>
								<div class="form-group has-feedback" id="passwordBox">
									<input type="password" class="form-control  input-lg"
										name="password" placeholder="用户密码" onblur="isPasswordValid()">
									<span class="glyphicon form-control-feedback"
										aria-hidden="true" id="passwordIocn"></span> <span
										id="passwordHint" hidden="hidden"
										class="input_hint my_transition"></span>
								</div>
								<div class="form-group has-feedback" id="confirmpwdBox">
									<input type="password" class="form-control  input-lg"
										name="confirmpwd" placeholder="确认密码"
										onblur="isConfirmpwdValid()"> <span
										class="glyphicon form-control-feedback" aria-hidden="true"
										id="confirmpwdIcon"></span> <span id="confirmpwdHint"
										hidden="hidden" class="input_hint"></span>
								</div>
							</div>
							<div class="tab-pane fade" id="phoneRegister">
								<div class="form-group has-feedback">
									<input type="text" class="form-control  input-lg" name="phone"
										placeholder="手机号"> <span
										class="glyphicon form-control-feedback" aria-hidden="true"></span>
									<span id="usernameHint" hidden="hidden">× 提示信息</span>
								</div>
								<div class="form-group has-feedback">
									<input type="password" class="form-control input-lg"
										name="phoneValid" placeholder="验证码"> <span
										class="glyphicon form-control-feedback" aria-hidden="true"></span>
									<span id="passwordHint" hidden="hidden">× 提示信息</span>
								</div>
							</div>
							<div class="tab-pane fade" id="emailRegister">

								<div class="form-group has-feedback">
									<input type="text" class="form-control input-lg" name="email"
										placeholder="邮箱"> <span
										class="glyphicon form-control-feedback" aria-hidden="true"></span>
									<span id="usernameHint" hidden="hidden">× 提示信息</span>
								</div>
								<div class="form-group has-feedback">
									<input type="password" class="form-control input-lg"
										name="emailpwd" placeholder="用户密码"> <span
										class="glyphicon form-control-feedback" aria-hidden="true"></span>
									<span id="passwordHint" hidden="hidden">× 提示信息</span>
								</div>
								<div class="form-group has-feedback">
									<input type="password" class="form-control input-lg"
										name="emailValid" placeholder="验证码"> <span
										class="glyphicon form-control-feedback" aria-hidden="true"></span>
									<span id="confirmpwdHint" hidden="hidden">× 提示信息</span>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-info   btn-block   btn-lg">注册</button>
					</form>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>




















