<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- 标题显示在浏览器上的标题 -->
<title>论坛首页</title>

<!-- my.css：自定义css样式都放这里 -->
<link href="/bbs/css/my.css" rel="stylesheet">
<link href="/bbs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- 必须先引用jQuery.js再去引用其他js -->
<script src="/bbs/js/jquery.min.js"></script>
<script src="/bbs/bootstrap/bootstrap.min.js"></script>
<script src="/bbs/js/vue.min.js"></script>
<script src="/bbs/js/axios.min.js"></script>

</head>
<body>
	<div>
		<!-- 
		1.th:replace :不要自己的主标签引用
		2.第一个参数include为文件名
		3.第二个参数为th:fragment="header"名
	-->
		<!-- bootstrap布局框架 -->
		<div class="container">
			<div class="row">
				<!-- 调用头部框架 -->
				<div th:replace="include::index-header" class="col-xs-12 "></div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-9" id="articles">
					<div v-for="article in articles">
						<div class="index-article">
							<a>{{article.title}}</a>
							<p>{{article.context}}</p>
							<ul>
								<li><span class="glyphicon glyphicon-fire" ></span>  {{article.viewCount}}</li>
								<li class="red"><a><span class="glyphicon glyphicon-user"></span>  {{article.nickname}}</a></li>
								<li><a><span class="glyphicon glyphicon-comment"></span>  {{article.comments}}</a></li>
								<li><a><span class="glyphicon glyphicon-heart"></span>  {{article.likeCount}}</a></li>
								<!--  v-bind:class="red:article.collect" -->
								<li><a @click="collect(article.id)"><span class="glyphicon glyphicon-star"   v-bind:class="{red:article.collect}"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
     var vue = new Vue ({
        el:"#articles",
        data:{
        	articles: []
       	},
        mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
        	console.log("加载成功");
            this.list();
        }, 
        methods:{
          list(){
			axios.get("/bbs/initbbs").then(res => {
				vue.articles = res.data.data;
                console.log(vue.articles);
            }).catch(err => {
              console.error(err); 
            })
          },collect:function(id){
        	 console.log(id);
          }
		}
	})
</script>



</html>